{% extends "index.html" %}
{% block title %}Page d'Accueil{%endblock%}
{% load static %}

{% block link %}
<link rel="stylesheet"  href="{% static "accueil/css/accueilVisiteur.css" %}"/>
{% endblock %}

{% block content %}
<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Trouvez de l'aide auprès de nos intervenants!</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-10 mx-auto">
        <form class="form-inline">
          <div class="input-group col-lg-10 mx-auto">
            <input type="text" class="form-control" id = "research_bar" style="text-align:left" value="rechercher une école">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </form>
        <br></br>
        <p class="mb -5"><I>Cette recherche vous mettra en lien avec des étudiants de l'école correspondante.</I></p>
      </div>
    </div>
  </div>
</header>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Vous souhaitez nous contacter?</h2>
        <hr class="my-4">
        <p class="mb-5">Si vous rencontrez un problème, ou si vous désirez obtenir plus d'information, n'éhistez pas à nous envoyer un e-mail</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>666-666-6666</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">Brorientation@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
