<!DOCTYPE html>

{% load static %}

<html lang = "fr">
  <head>
    <meta charset="utf-8"/>
    <title id="titre">{% block title %}homePage{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/squelette.css" %}"/>
    {% block link %}{% endblock %}
  </head>

  <body>

    <header>
      {% block header %}
      <div id="nav1">
        <div id="bouton_nav1"><a href="/accueil/accueilVisiteur"><img id="logo_bro" alt="logobro" src="{% static "images/logo_bro.jpg" %}"</a></div>
        <a href="https://www.insa-lyon.fr"><img id="bouton_fb" src="{% static "images/logo_fb.png" %}"  alt="logo fb"/></a>
        <a href="https://www.insa-lyon.fr" ><img id="bouton_insta" alt="logo insta" src="{% static "images/logo_insta.png" %}" alt="logo insta"/></a>
      </div>
      <div id= "espace">
        <div id="bouton_rechercher"><a href="/userSpace/rechercher">Rechercher une école</a></div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="bouton_historique"><a href="/userSpace/historique">Historique des recherches</a></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div id="bouton_messages"><a href="/userSpace/messagerie">Messagerie</a></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div id="bouton_mesinfos"><a href="/userSpace/mesinfos">Mes infos</a></div>

      </div>
      {% endblock %}
    </header>
    {% block content %}{% endblock %}
    <footer>
      {% block footer %}
      <p> mentions légales, brorientation</p>
      <p>tout droits réservés</p>
      <p> 69100 villeurbanne zoo</p>
      {% endblock %}
    </footer>

  </body>
</html>
